{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }}Password change{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/password.css' %}">
{% endblock css_files %}
{% block content %}
<main>
    <section class="container-fluid psswrd-chng-dn-sctn" alt="password change done section">
        <h2 class="mb-4">Password changed successfully.</h2>
        <p>Now it's time to read out our <a href="/">news</a> and borrow one of our wonderful books!</p>
    </section>
</main>
{% endblock content %}