{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Password reset{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/password.css' %}">
{% endblock css_files %}
{% block content %}
<main>
    <section class="container-fluid psswrd-rst-sctn" alt="password reset section">
        <h2 class="col-6 mb-4">Please, enter your email address:</h2>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="container npt-grp">
                <input class="btn" type="submit" value="Reset">
            </div>
        </form>
    </section>
</main>
{% endblock content %}