{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }}Password reset complete{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/password.css' %}">
{% endblock css_files %}
{% block content %}
<main>
    <section class="container-fluid psswrd-rst-cmplt" alt="password reset complete section">
        <h2 class="mb-4">Password reset successfully submitted.</h2>
        <p>Your password has been successfully reset. Have a nice journey in readings!</p>
    </section>
</main>
{% endblock content %}