{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Confirm password{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/password.css' %}">
{% endblock css_files %}
{% block content %}
{% if validlink %}
    <main>
        <section class="container-fluid cnfrm-psswrd-sctn" alt="password confirm section">
            <h2 class="col-6 mb-4">Please, provide a new password:</h2>
            <form class="col-4 my-3" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div class="container npt-grp">
                    <input class="btn" type="submit" value="Confirm">
                </div>
            </form>
        </section>
    </main>
{% endif %}
{% endblock content %}