{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }}Password reset{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/password.css' %}">
{% endblock css_files %}
{% block content %}
<main>
    <section class="container-fluid psswrd-rst-dn-sctn" alt="password reset done section">
        <h2 class="mb-4">Password reset successfully submitted.</h2>
        <p>An email has been sent to your email address. Please, carefully follow the instructions.</p>
    </section>
</main>
{% endblock content %}