{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Password change{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/password.css' %}">
{% endblock css_files %}
{% block content %}
<main>
    <section class="container-fluid psswrd-chng-sctn" alt="password change section">
        <h2 class="col-6 mb-4">Please, provide the old and the new password:</h2>
        <form class="col-4 my-3" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="container npt-grp">
                <input class="btn" type="submit" value="Change">
            </div>
        </form>
    </section>
</main>
{% endblock content %}