/* password_reset_form.html */

.psswrd-rst-sctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.psswrd-rst-sctn h2 {
    text-align: center;
    color: rgb(155, 0, 0);
}
.psswrd-rst-sctn .npt-grp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.psswrd-rst-sctn .btn {
    border: 1px solid #BF3131;
    color: #BF3131;
}
.psswrd-rst-sctn .btn:hover {
    border: 1px solid #BF3131;
    color: #F3EDC8;
    background-color: #BF3131;
}

/* password_reset_done.html */

.psswrd-rst-dn-sctn h2, .psswrd-rst-cmplt h2, .psswrd-chng-dn-sctn h2 {
    color: rgb(155, 0, 0) !important;
}
.psswrd-rst-dn-sctn p, .psswrd-rst-cmplt p, .psswrd-chng-dn-sctn p {
    text-align: justify !important;
}

/* password_reset_confirm.html */
.cnfrm-psswrd-sctn, .psswrd-chng-sctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cnfrm-psswrd-sctn .npt-grp, .psswrd-chng-sctn .npt-grp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cnfrm-psswrd-sctn h2, .psswrd-chng-sctn h2 {
    text-align: center;
    color: rgb(155, 0, 0);
}
.cnfrm-psswrd-sctn .btn, .psswrd-chng-sctn .btn {
    border: 1px solid #BF3131;
    color: #BF3131;
}
.cnfrm-psswrd-sctn .btn:hover, .psswrd-chng-sctn .btn:hover {
    border: 1px solid #BF3131;
    color: #F3EDC8;
    background-color: #BF3131;
}

/* password_reset_complete.html */
/* ALREADY DEFINED IN THE DONE SECTION */

/* password_change_form.html */
/* ALREADY DEFINED IN THE RESET SECTION */ 

/* password_change_done.html */
/* ALREADY DEFINED IN THE RESET COMPLETE SECTION */ 