/* registration_form.html */
/* registration_complete.html */

.rgstrtn-sctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rgstrtn-sctn h2 {
    text-align: center;
    color: rgb(155, 0, 0);
}

.rgstrtn-cmplt h2 {
    color: rgb(155, 0, 0);
}

.rgstrtn-sctn .npt-grp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rgstrtn-sctn .btn {
    border: 1px solid #BF3131;
    color: #BF3131;
}
.rgstrtn-sctn .btn:hover {
    border: 1px solid #BF3131;
    color: #F3EDC8;
    background-color: #BF3131;
}
.rgstrtn-cmplt p {
    text-align: justify;
}